ENVIRONMENT=
URL_PREFIX=
BASE_URL=
SERVER_PORT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

CONTRACT_ADDRESS=
NETWORK=
ETHERSCAN_API_KEY=
GOERLI_RPC_URL=
PRIVATE_KEY=
